https://m-transparency.entsoe.eu/content/static_content/Static%20content/legacy%20data/legacy%20data2013.html
Day-ahead NTCs by country extracted manually 28.10.2020

In [1]:
import os
import pandas as pd
import numpy as np
import pypsa
import sys

In [2]:
n = pypsa.Network()
n.import_from_netcdf('elec_s.nc')

WARNING:pypsa.io:
Importing PyPSA from older version of PyPSA than current version 0.17.0.
Please read the release notes at https://pypsa.org/doc/release_notes.html
carefully to prepare your network for import.

INFO:pypsa.io:Imported network elec_s.nc has buses, carriers, generators, lines, links, loads, storage_units

In [3]:
file_name =  os.path.basename(sys.argv[0])
directory = os.path.dirname(os.path.realpath(file_name))+'/NTC_Data_2013'

skips = ([False]*3+[True]*24)*365 #removes empty lines in dataframe
NTCs = pd.DataFrame(index=n.generators_t.p.index)

for file in os.listdir(directory):
    df = pd.read_excel('NTC_Data_2013/'+file,header=3,index_col=0).dropna(axis=1,how='all')[skips[2:]]
    for i in df.columns:
        NTCs[i] = np.array(df[i])
        
NTCs = NTCs.astype(float)
NTCs.drop(columns = NTCs.columns[NTCs.columns.str.contains('UA')],inplace=True)
NTCs.columns = ['AT > CH', 'AT > CZ', 'AT > HU', 'AT > IT1', 'AT > SI', 'BA > HR', 'BA > ME', 'BA > RS', 'BE > FR', 'BE > NL',
                'BG > GR', 'BG > MK', 'BG > RO', 'BG > RS', 'CH > AT', 'CH > DE/LU', 'CH > FR', 'CH > IT1', 'CZ > AT',
                'CZ > DE/LU', 'CZ > PL', 'CZ > SK', 'DE/LU > PL', 'DE/LU > CH', 'DE/LU > CZ', 'DE/LU > DK1',
                'DE/LU > DK2', 'DE/LU > FR', 'DE/LU > NL', 'DE/LU > SE4', 'DK1 > DE/LU', 'DK1 > DK2', 'DK1 > NO2',
                'DK1 > SE3', 'DK2 > DE/LU', 'DK2 > SE4', 'EE > FI', 'EE > LV', 'ES > FR', 'ES > PT', 'FI > EE', 'FI > NO4',
                'FI > SE1', 'FI > SE3', 'FR > BE', 'FR > CH', 'FR > DE/LU', 'FR > ES', 'FR > GB', 'FR > IT1', 'HR > BA',
                'HR > HU', 'HR > RS', 'HR > SI', 'HU > AT', 'HU > HR', 'HU > RO', 'HU > RS', 'HU > SK', 'IT1 > AT', 'IT1 > CH',
                'IT1 > FR', 'IT4 > GR', 'IT1 > SI', 'LV > EE', 'LV > LT', 'MK > BG', 'MK > GR', 'MK > RS', 'NL > BE', 'NL > DE/LU',
                'NL > GB', 'NL > NO2', 'NO1 > NO2', 'NO1 > NO3', 'NO1 > NO5', 'NO1 > SE3', 'NO2 > DK1', 'NO2 > NL', 'NO2 > NO5',
                'NO3 > NO4', 'NO3 > SE2', 'NO4 > FI', 'NO4 > SE1', 'NO4 > SE2', 'PL > CZ', 'PL > DE/LU', 'PL > SE4',
                'PL > SK', 'RS > AL', 'RS > BA', 'RS > BG', 'RS > HR', 'RS > HU', 'RS > ME', 'RS > MK', 'RS > RO', 'SE1 > FI',
                'SE1 > NO4', 'SE1 > SE2', 'SE2 > NO3', 'SE2 > NO4', 'SE2 > SE3', 'SE3 > DK1', 'SE3 > FI', 'SE3 > NO1',
                'SE3 > SE4', 'SE4 > DE/LU', 'SE4 > DK2', 'SE4 > PL', 'SI > AT', 'SI > HR', 'SI > IT1', 'SK > CZ', 'SK > HU',
                'SK > PL', 'GB > FR', 'GB > IE', 'GB > NL']
NTCs.drop(columns = NTCs.columns[NTCs.columns.str.contains('RS')],inplace=True)

#Split NO1 > NO3 into two separate columns (no negatives allowed)
NTCs['NO3 > NO1'] = NTCs['NO1 > NO3']*-1
NTCs[NTCs < 0] = 0

#Drop FI > NO4 column, too low voltage
NTCs.drop(columns=['FI > NO4','NO4 > FI'],inplace=True)

INFO:numexpr.utils:NumExpr defaulting to 8 threads.

In [4]:
NTCs.to_csv('NTCs.csv')

In [5]:
pd.read_csv('NTCs.csv',index_col=0)

,AT > CH,AT > CZ,AT > HU,AT > IT1,AT > SI,BA > HR,BA > ME,BE > FR,BE > NL,BG > GR,...,SI > AT,SI > HR,SI > IT1,SK > CZ,SK > HU,SK > PL,GB > FR,GB > IE,GB > NL,NO3 > NO1
name,,,,,,,,,,,,,,,,,,,,,
2013-01-01 00:00:00,436.0,900.0,800.0,71.0,950.0,700.0,450.0,1500.0,1401.0,350.0,...,950.0,1200.0,203.0,1200.0,1300.0,NaN,1500.0,NaN,1016.0,0.0
2013-01-01 01:00:00,436.0,900.0,800.0,71.0,950.0,700.0,450.0,1500.0,1401.0,350.0,...,950.0,1200.0,203.0,1200.0,1300.0,NaN,1500.0,NaN,1016.0,0.0
2013-01-01 02:00:00,436.0,900.0,800.0,71.0,950.0,700.0,450.0,1500.0,1401.0,350.0,...,950.0,1200.0,203.0,1200.0,1300.0,NaN,1500.0,NaN,1016.0,0.0
2013-01-01 03:00:00,436.0,900.0,800.0,71.0,950.0,700.0,450.0,1500.0,1401.0,350.0,...,950.0,1200.0,203.0,1200.0,1300.0,NaN,1500.0,NaN,1016.0,0.0
2013-01-01 04:00:00,436.0,900.0,800.0,71.0,950.0,700.0,450.0,1500.0,1401.0,350.0,...,950.0,1200.0,203.0,1200.0,1300.0,NaN,1500.0,NaN,1016.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2013-12-31 19:00:00,433.0,500.0,500.0,99.0,950.0,700.0,500.0,1400.0,NaN,300.0,...,950.0,1200.0,199.0,1200.0,1100.0,NaN,2000.0,NaN,1016.0,0.0
2013-12-31 20:00:00,433.0,500.0,500.0,99.0,950.0,700.0,500.0,1400.0,NaN,300.0,...,950.0,1200.0,199.0,1200.0,1100.0,NaN,2000.0,NaN,1016.0,0.0
2013-12-31 21:00:00,433.0,500.0,500.0,99.0,950.0,700.0,500.0,1400.0,NaN,300.0,...,950.0,1200.0,199.0,1200.0,1100.0,NaN,2000.0,NaN,1016.0,0.0
2013-12-31 22:00:00,400.0,500.0,500.0,99.0,950.0,700.0,500.0,1400.0,NaN,300.0,...,950.0,1200.0,199.0,1200.0,1100.0,NaN,2000.0,NaN,1016.0,0.0
2013-12-31 23:00:00,400.0,500.0,500.0,99.0,950.0,700.0,500.0,1400.0,NaN,300.0,...,950.0,1200.0,199.0,1200.0,1100.0,NaN,2000.0,NaN,1016.0,0.0